* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #000000;
}

:root {
  font-size: 16px;
}

body {
  padding: 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  color: white;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* HOT HOUSE HOME TEXT */
h1 {
  font-size: 5rem;
  font-weight: 500;
}

/* PAGE TITLE */
h2 {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

h1 a:hover,
h2 a:hover {
  opacity: 0.5;
}

/* PRODUCT TITLE */
h3 {
  font-size: 26px;
  font-weight: 500;
  margin: 12px 0 12px 0;
}

/* SHOP TEXT */
h4 {
  font-size: 22px;
  font-weight: 400;
}

p {
  font-size: 20px;
  white-space: pre-line;
}

a {
  text-decoration: none;
  display: inline block;
  color: white;
  cursor: pointer;
}

a:visited {
  color: white;
}

main {
  margin: 0;
  position: relative;
}

.buy-button {
  background-color: black;
  border-radius: 0.3rem;
  font-size: 16px;
  color: white;
  border: none;
  padding: 16px 16px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.buy-button:active {
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  margin: 16px auto;
  width: 450px;
  background-color: rgba(0, 0, 0, 0.9);
}

.content h3 {
  margin: 24px;
}

.artwork {
  width: 100%;
}

.link {
  width: 100%;
  margin-top: 16px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover {
  border: 1px solid #97a981;
  color: #97a981;
}

.link img {
  width: 36px;
  margin-right: 16px;
}